.login {
  background-image: url("/assets/images/fondo.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &--card {
    padding: 25px;
    min-width: 550px;

    &--img {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;
  }
}
